.about {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include small-tablets {
      flex-direction: column;
    }
  }

  &__stages {
    width: 46%;

    @include small-tablets {
      width: 100%;
    }
  }

  &__content {
    width: 46%;

    @include small-tablets {
      width: 100%;
      order: -1;
    }
  }
}
