.btn {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  background-color: $btn-color;
  color: $invert-color;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 42px 18px;
  line-height: 1;
  border-radius: 25px;
  transition: all 0.4s linear;
  border: 0;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &:hover,
  &:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    outline: none;
  }

  &:active {
    box-shadow: inset 0 5px 10px 0 rgba(0,0,0,.08), inset 0 4px 14px 0 rgba(0,0,0,.05);
    opacity: 0.9;
  }
}
