$font-size: 14px;

$text-color: #5e606a;
$invert-color: #fff;
$btn-color: #fb0275;
$title-color: #7f38bd;
$section-color: #faf8fb;
$link-color: #3594dd;

$bp-tablets: 1199px;
$bp-small-tablets: 991px;
$bp-phones: 767px;
$bp-small-phones: 449px;
